
<!DOCTYPE html>
<html lang="en">
<head>


<script type="module" src="/src/elements--login/login-element.js"></script>
<script type="module" src="/src/elements--login/inputs-element.js"></script>
<script type="module" src="/src/elements--login/head-element.js"></script>


    
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../CSS/LOGIN.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>



</head>
<body>
    


<login-element>
</login-element>


</body>
</html>