<!DOCTYPE html>
<html lang="en">
<head>    
    <script type="module" src="/src/elements--Menu/head-element.js"></script>
    <script type="module" src="/src/elements--Menu/menu-lateral.js"></script>    
    <script type="module" src="/src/elements--Menu/header-element.js"></script>
    <script type="module" src="/src/elements--Menu/contents-element.js"></script>
 

    


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menus</title>

</head>
<body>
    <script src="https://kit.fontawesome.com/713139cfd2.js" crossorigin="anonymous"></script>

<head-element></head-element>
    
</body>
</html>